:root {
    --main-dark-color: #1c1a4e;
    --main-primary-color: #ff4c29;
    --main-secondary-dark-color: #7d54f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;

}

a {
    text-decoration: none !important;

}

a:hover {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

/* <!-- ------------------------- top bar ------------------------- --> */

.topbar {
    background-color: var(--main-dark-color);
}

.topbar ul {
    margin: 0 !important;
}

.top_left_bar {
    padding: 14px 0;
    color: white;
}

.top_left_bar span {
    color: #ff4c29;
}

.top_btn {
    color: #ffffff;
    font-weight: 500;
    border-radius: 12px;
    background-color: #ff4c29;
    padding: 3px 20px;
    font-size: 14px;
}

.top_right_bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.top_right_bar a {
    color: white;
    padding: 0 30px;
}

.top_right_bar a span svg {
    color: var(--main-primary-color);
}

@media only screen and (max-width:1200px) {
    .topbar {
        display: none;
    }
}

/* <!-- ------------------------- ENd-----top bar ------------------------- --> */


/* <!-- ------------------------- -----nav bar ------------------------- --> */

.navbar ul li {
    margin-right: 45px;
}

.navbar ul li a {
    color: #1e1765;
    font-size: 15px;
}

.widget {
    font-size: 1.2rem;
    padding: 0 25px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: white;
}

/* .widget li a{    margin-right: 45px;} */

form {
    margin-top: -76px;
    margin-left: 58.5rem;
    display: flex;
    width: 220px;
    display: none;
    transition: all 0.9s linear;
    z-index: 99;
}

form .form_row {
    position: relative;
    display: block;
    border: 1px solid black;
    border-radius: 12px;
    padding-right: 10px;
    padding-left: 16px;
    margin: 0 33px;
}

form .form_row input {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 13px;
}

form .form_row button {
    position: absolute;
    top: 0;
    width: 26px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 13px;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    line-height: 30px;
}


.fa-shopping-basket {
    position: relative;
}

.fa-shopping-basket .cart_count {
    text-align: center;
    position: absolute;
    background: red;
    top: -8px;
    right: -13px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    line-height: 18px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.dropdown-menu {
    border: none !important;
}

.d_menu {
    margin-left: -380px !important;
}

.dropdown-menu li {
    padding: 5px 0 !important;
}

.d_menu ul li span {
    padding: 2px 5px;
    background: red;
    color: white;
    border-radius: 4px;

}

.d_menu .img_ul {
    width: 355px;
    display: flex;
    align-items: center;
    padding: 0 37px 0 0;
}

.d_menu .img_ul img {
    height: 90%;
    position: relative;
}

.d_menu .img_ul button {
    position: absolute;
    padding: 10px 20px;
    margin-top: 24px;
    margin-left: -165px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    color: white;
    background-color: blue;
}

.below_text {
    display: flex;
    justify-content: center;
    padding: 9px 0;
    background-color: aliceblue;
}

.below_text h5 {
    font-size: 16px;
    font-weight: 600;
}

.below_text span {
    color: var(--main-primary-color)
}

.dropdown .d_menu2 {
    margin-left: -437px;
}


/* <!-- offcanvas nav for mbl --> */
.navbar .off_widget {
    display: none !important;
}

.navbar .off_widget li {
    margin-right: 0 !important;
}

@media only screen and (max-width:991px) {
    .navbar .off_widget {
        display: block !important;
        display: flex !important;

    }
}

.navbar .off_widget li {
    padding: 0 15px;
}

.nav_resp .dropdown-menu {
    width: 100%;
}

.nav_resp ul li {
    border-bottom: 1px solid rgb(26, 26, 26);
    padding: 3px 0;
}

.nav_resp ul li a {
    color: #000;
}

.nav_resp ul .img_li img {
    height: 90%;
    position: relative;
}

.nav_resp ul .img_li button {
    position: absolute;
    padding: 10px 20px;
    margin-top: 124px;
    margin-left: -165px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    color: white;
    background-color: blue;
}

/* <!-- ------------------------- ENd-----nav bar ------------------------- --> */
/* <!-- ------------------------- hero part ------------------------- --> */
.hero {
    background-image: url("images/bg.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 4rem !important;
}

.overlay_shape {
    background-image: url("images/shape_09.png");
    background-repeat: no-repeat;
    background-position: 30px -519px;
}

.hero .overlay_shape h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    width: 29%;
    line-height: 32px;
}

.hero .overlay_shape h5 span {
    color: var(--main-primary-color);
}

.hero .overlay_shape h1 {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 54px;
    padding-top: 10px;
}

.hero .overlay_shape p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    padding: 10px 0;
}

.hero-btn {
    color: #fff;
    border-radius: 4px;
    background-color: #ff4c29;
    padding: 8.5px 33px;
    border: none;
}

.hero-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 50px 5px rgba(255, 76, 41, 0.7);
}

.hlper-btn {
    color: #fff;
    border-radius: 4px;
    background-color: #7d54f4;
    padding: 8.5px 33px;
    border: none;
    margin-left: 10px;
}

.hlper-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 50px 5px rgba(125, 84, 244, 0.7);
}

.hero_img {
    width: 100%;
    height: 100% !important;
}

@media only screen and (max-width:991px) {
    .hero .overlay_shape h5 {
        width: 50%;
    }

    .hero .overlay_shape h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .blank_div {
        display: none;
    }
}

@media only screen and (max-width:343px) {
    .hero-btn {
        margin-bottom: 10px;
    }

    .hlper-btn {
        margin-left: 0px;
    }
}

.particle {
    position: absolute;
    margin-left: 402px;
    margin-top: -29px;
    width: 175px;
    height: 158px;
    animation: particlemove 9.5s infinite linear;
}

@keyframes particlemove {
    0% {
        transform: translateX(20px);
    }

    25% {
        transform: translateX(36.9px);
    }

    50% {
        transform: translateY(49px);
    }

    100% {
        transform: translateX(20px);
    }
}

@media only screen and (max-width:610px) {
    .particle {
        margin-left: 254px;
    }
}

@media only screen and (max-width:450px) {
    .particle {
        margin-left: 118px;
    }

}

@media only screen and (max-width:370px) {

    .hero .overlay_shape h5 {
        width: 50%;
    }
}

@media only screen and (max-width:320px) {

    .hero .overlay_shape h5 {
        width: 65%;
    }
}

/* <!-- ------------------------- ENd-----hero part------------------------- --> */

.card_first {
    padding: 40px 40px 30px;
    margin: -80px 3px 45px !important;
    box-shadow: none !important;
}

.card_first h2 {
    color: #1e1666;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    padding-bottom: 20px;
}

.card {
    box-shadow: 0px 14px 31px 0px rgb(143 108 248 / 14%);
    border-radius: 4px;
    margin: 15px 3px 45px;
    padding:40px 10px 30px;
    border: none !important;
}

.card-up {
    margin: -80px 3px 45px !important;
}

.card .card-title {
    color: #1e1666;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    line-height: 32px;
}

.card .card-text {
    text-align: center;
    color: #5a626d;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

@media only screen and (max-width:991px) {
    .card-up {
        margin: 0 !important;
    }

    .card_first {
        margin: 0 !important;
    }
}

/* <!-- ------------------------- ENd-----Service part------------------------- --> */

.solution h2{
    padding: 0 0 18px;
    color: #1e1666;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 42px;
}
.points h6{
    color: #000000;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.points p{
    text-align: right;
    color: #5a626d;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}
.points2 h6{
    color: #000000;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.points2 p{
    text-align: left;
    color: #5a626d;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}
.solution_img:hover{
    transform: translateY(-10px);
    transition: all 0.8s ease-in-out;
}

/* <!-- ------------------------- ENd-----Solution part------------------------- --> */

.cta{
    background-image: url("images/overlay.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 4rem !important;
}


.cta h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
}
.cta_points h6{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.cta_points p{
    color: #eff0ff;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

.line{
    width: 1px;
    height: 75px;
    background: #fb5106;
    margin: 0 0 0 18px;
}
.check_icon{margin-top: -68px;}
.cta_img{z-index: 99;}


.form_card{
    margin-left: -139px;
    padding: 38px 55px 22px;
    background: #fff;
    border-radius: 4px;
    
}
.form_card h2{
    color: #1c1a4e;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    padding: 16px 0;
}
.form_card .input_text{
    width: 100%;
    height: 46px;
    border-radius: 4px;
    background-color: #f7f7fb;
    border: 1px solid #dcdcdd;
    font-size: 15px;
    line-height: 28px;
    color: #5a626d;
    font-weight: 400;
    font-family: "Inter";
    margin-bottom: 12px;
    padding-left: 25px;
}
.form_card .msg_input{
    width: 100%;
    height: 110px;
    resize: none;
    border-radius: 4px;
    background-color: #f7f7fb;
    border: 1px solid #dcdcdd;
    font-size: 15px;
    line-height: 28px;
    color: #5a626d;
    font-weight: 400;
    font-family: "Inter";
    padding-left: 25px;
    padding-top: 15px;
    margin-bottom: 12px;
}
.form_card button{
    width: 100%;
    height: 46px;
    border: 0;
    border-radius: 4px;
    background-color: #ff4c29;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
    font-weight: 500;
    font-family: "Inter";
    margin-bottom: 30px;
}
@media only screen and (max-width:1400px) {
   .cta .container{
    max-width: 1042px;
   }
}
@media only screen and (max-width:1200px) {
    .form_card{
        margin-right: 0px;
    }
}

@media only screen and (max-width:767px) {
   .cta .img_hide_div{
    display: none !important;
}
.form_card{
    margin-left: 0px;
}
}

/* <!-- ------------------------- ENd-----cta part------------------------- --> */
.provide_div h2{    color: #1e1666;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;}
    .provide_div p{
        color: #5a626d;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
    .provide_div h6{color: #1e1666;
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;}